[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
Packages/com.unity.package-manager-ui/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj
*.svd
.vscode/
.idea/
.DS_Store
*.apk
*.aab
.vs/
